<mat-card class="card" mat-dark>
    <!-- <div class="col-md-6 offset-md-3"> -->
    <h1>
        Update User Information </h1>
    <form (ngSubmit)="OnSubmit()">

        <div class="form-group">
            <label>userFirstName </label>
            <input type="text" class="form-control" id="userFirstName" [(ngModel)]="user.userFirstName" name="userFirstName">
        </div>
        <div class="form-group">
            <label>userLastName </label>
            <input type="text" class="form-control" id="userLastName" [(ngModel)]="user.userLastName" name="userLastName">
        </div>
        <div class="form-group">
            <label>userPassword</label>
            <input type="text" class="form-control" id="userPassword" [(ngModel)]="user.userPassword" name="userPassword">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">userName</label>
            <input type="email" class="form-control" id="userName" [(ngModel)]="user.userName" name="emails">
        </div>


        <br>
        <button type="submit" class="btn btn-primary">Save User</button>
    </form>
    <!-- </div> -->
</mat-card>