<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)=" login(loginForm)">
            <input type="text" ngModel name="userName" id="userName" class="form-control" placeholder="Username">
            <input type="password" ngModel name="userPassword" id="userPassword" class="form-control" placeholder="Enter your user password">
            <input type="submit" value="Login" class="btn btn-outline-primary formControl rounded-0">
        </form>
    </div>

</div>