<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>A</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()" class="button-row ">
            <mat-selection-list #shoes [multiple]="false"  >
               
                 <table>
                    <mat-list-option class="mat-list-option">
                     <tr>
                      
                     <th>Client name</th>
                     <th>date de Creation</th>
                
                     
                    </tr>
                </mat-list-option>
                    <tr>
                        <mat-list-option *ngFor="let ticket of tickets" [value]="ticket">
                        
                        <td>{{ticket.name}}</td> 
                        </mat-list-option>
                    </tr>
                 </table>
            
                  

             
              </mat-selection-list>
              
              <p>
                Option selected: {{shoes.selectedOptions.selected[0]?.value}}
            </p>
             
        Toggle sidenav
      </button>
    </div>

</mat-drawer-container>