<mat-card class="card">
    <mat-card-header>
        <mat-card-title> Users List </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <table class="table table-hover table-dark">
        <thead color="primery ">
            <tr>
                <th>userFirstName</th>
                <th>userLastName</th>
                <th>userName</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let user of users ">
                <td>{{user.userFirstName}}</td>
                <td>{{user.userLastName}}</td>
                <td>{{user.userName}}</td>
                <td>
                    <button (click)="updateUser(user.id) " class="btn btn-info ">Update</button>
                    <button (click)="delateUser(user.id) " class="btn btn-danger ">Delete</button>

                </td>


            </tr>



        </tbody>

    </table>
    <div>{{users}}</div>

</mat-card>