<h1>
    Users List </h1><br>

<div _ngcontent-c7="" class="card-header bg-transparent border-0">
    <h3 _ngcontent-c7="" class="text-white mb-0">Card tables</h3>
</div>

<table class="table table-striped">
    <thead color="primery">
        <tr>
            <th>Matrecule</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Email address</th>
            <th>company</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let user of users">
            <td>{{user.matrecule}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.emails}}</td>
            <td>{{user.company}}</td>
            <td>
                <button (click)="updateUser(user.id)" class="btn btn-info">Update</button>
                <button (click)="delateUser(user.id)" class="btn btn-danger">Delete</button>

            </td>


        </tr>



    </tbody>

</table>